body{
  background-image: url('http://www.gumipod.com/wp-content/themes/gumipod/library/img/images/girl.jpg');
  }
  #titulo{
  background-color: #990D82;
  text-align: center;
  color: white;
  font-family:cursive;

}
  .article__container{
    text-align: center;
    font-family:cursive;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}
.article__title{
  background-color: black;
  color: white;
}
.article__autor{
  background-color: #990D82;
  color: white;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.article__link{

}
.article__content{
  background-color: #990D82;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}
